* {
    padding: 0;
    margin-top: 0;
    font-family: serif;
}

a {
    color: inherit;
    text-decoration: none;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.container::after {
    content: " ";
    display: block;
    clear: both;
}

header {
    box-shadow: inset;
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.356);
}

header h1 {
    float: left;
    padding: 15px 0px;
    color: black;
    text-align: center;
    position: relative;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 25px 20px;
    display: inline-block;
    text-align: right;

}

header ul li a:hover {
    background-color: black;
    color: aliceblue;
}

footer {
    padding: 18px 0;
    background-color: black;
    color: beige;
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 99%;
}

.product .p-1 {
    height: 20vh;
    background-image: url(../fashion01.jpg);
    background-size: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .p-1 h2 {
    size: 30px;
    color: rgb(0, 0, 0);

}